* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes entry {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #bd00d2,#62beff,#99f421,#d5ab23);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}
.glass {
    background: rgba(255, 255, 255, 0);
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 15rem;
    margin: auto;
}
.container h1, h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.main .container button{
    padding: 0.7rem;
    color: white;
    font-weight: 600;
    width: 50%;
    transition: 1.5s;
    margin: 3rem 0;
}

.main .container button:hover{
    background: #00000048;
    background-size: 300% 300%;
    cursor: pointer;
}

.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.screen.active {
    display: flex;
}