*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}

.hidden{
    display: none;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes entry {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.glass {
    background: rgba(255, 255, 255, 0);
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host-box{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 15rem;
    align-items: center;
    padding: 1rem;
    margin: auto;
    animation: 0.5s ease-out 0s 1 entry;
}
.host-box.shown{
    display: flex;
}
.host-box label{
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.host-box .join-label {
    font-size: 1rem;
    margin: 1rem;
    color: white;
    transition: 1.5s;
}
.host-box .join-label:hover {
    cursor: pointer;
    color: fuchsia;
}

.host-box .template{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.host-box .template h3{
    margin: 0.5rem;
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.host-button{
    margin: 1.2rem;
    padding: 0.7rem;
    color: white;
    font-weight: 600;
    width: 10rem;
    transition: 1s;
}

.host-button:hover{
    background: #00000048;
    background-size: 300% 300%;
    cursor: pointer;
}

.code-box{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 15rem;
    align-items: center;
    padding: 1rem;
    margin: auto;
    animation: 0.5s ease-out 0s 1 entry;
}
.code-box.shown{
    display: flex;
}

.code-box label{
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.code-box .host-label {
    font-size: 1rem;
    margin: 1rem;
    color: white;
    transition: 1.5s;
}
.code-box .host-label:hover {
    cursor: pointer;
    color: fuchsia;
}

.code-box input{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.151);
    border: unset;
    border-radius: 0.5rem;
    padding: 0.7rem 0.3rem;
    margin: 1rem;
    color: white;
    width: 50%;
}

.code-box input::placeholder {
    color: white;
    opacity: 0.7;
}
.code-box input:focus{
    outline-style: none;
}

.code-box button{
    padding: 0.7rem;
    color: white;
    font-weight: 600;
    width: 50%;
    transition: 1.5s;
}

.code-box button:hover{
    background: linear-gradient(90deg, #00000048,#00000002,#00000048, #00000002);
    background-size: 300% 300%;
    animation: color 3s ease-in-out infinite;
    cursor: pointer;
    background: #00000048;
}
