*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.glass {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 20%;
    align-items: center;
    padding: 1rem;
    margin: auto;
}

.code-box label{
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.code-box input{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.151);
    border: unset;
    border-radius: 1rem;
    padding: 0.7rem 0.3rem;
    margin: 1rem;
    color: white;
    width: 50%;
}

.code-box input:focus{
    outline-style: none;
}

.code-box button{
    padding: 0.7rem;
    color: white;
    font-weight: 600;
    width: 50%;
}

.code-box button:hover{
    background: linear-gradient(90deg, #00000048,#00000002,#00000048, #00000002);
    background-size: 300% 300%;
    animation: color 3s ease-in-out infinite;
}
